<!DOCTYPE html>
<html lang="en" ng-app="drag-and-drop">

<head>
  <meta charset="UTF-8">
  <title>classMap</title>
</head>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
<script src="../app/app.js"></script>


  <body>
    <span data-drag="true" data-drop = "true" data-jqyoui-options = "{revert: 'invalid'}" jqyoui-draggable="{animate: true}">So you think you can drag</span>
    <br/>
    <br/>
    <div class="thumbnail" data-drop="true" data-drag = "false" data-jqyoui-options ng-model="list2" jqyoui-droppable  style='height:50px; width: 500px; border: 1px black solid;'></div>
    <div class="thumbnail" data-drop="true" data-drag = "false" data-jqyoui-options ng-model="list2" jqyoui-droppable   style='height:50px; width: 500px; border: 1px black solid;'></div>
    <div class="thumbnail" data-drop="true" data-drag = "false" data-jqyoui-options ng-model="list2" jqyoui-droppable   style='height:50px; width: 500px; border: 1px black solid;'></div>

  </body>
</html>
