body{
  background-color: #ffc72c;
  font-family: sans-serif;
}

.course:hover {
  cursor: pointer;
  cursor: hand;
}

.gridItem {
  background-color: #990000;
  float: left;
  height:75px;
  width: 75px;
  border: 1px black solid;
  text-align: center;
  vertical-align: middle;
  padding-left: 1px;
}

.gridTitle {
  background-color: #990000;
  float: left;
  height:50px;
  width: 75px;
  border: 1px black solid;
  text-align: center;
  vertical-align: middle;
  padding-left: 1px;
  line-height: 50px;
}

#grid {
  background-color: black;
  padding: 5px;
  width: 630px;
  height: 400px;
}
.course {
  height: 75px;
  width: 75px;
  border: 1px white solid;
  border-radius: 20px;
  text-align: center;
  line-height: 75px;
  color: white;
  background-color: black;
  float: left;
}

#form {
  height: 400px;
  width: 300px;
  border: 1px black solid;
  border-radius: 10px;
  position: fixed;
  top: 80px;
  left: 700px;
}

#dropzone {
  height: 150px;
  width: 400px;
  position: fixed;
  top: 500px;
  left: 700px;
  border: 1px black dashed;

}

#header {
  border: 1px black solid;
  width: 628px;
  height: 20px;
  padding: 5px;
}

.yearTitle {
  float: left;
  width: 100px;
  padding-left: 55px;
}

#trash {
  height: 155px;
  width: 107px;
  position: fixed;
  top: 540px;
  left: 550px;
  background: url("./assets/trashcan.png") no-repeat;
}

