body{
  background-color: #FFCC00;
}
.gridItem {
  background-color: #990000;
  float: left;
  height:50px;
  width: 50px;
  border: 1px black solid;
}

.grid {
  background-color: black;
  padding: 5px;
  width: 420px;
  height: 250px;
}
