body{
  font-family: "Josefin Sans" sans-serif;
  font-size: 18px;
  background: url("./assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: 30% 20%;

}

.course:hover {
  cursor: pointer;
  cursor: hand;
}
.ge:hover {
  cursor: pointer;
  cursor: hand;
}
.elective:hover {
  cursor: pointer;
  cursor: hand;
}

.gridItem {
  float: left;
  height:75px;
  width: 75px;
  border: 1px white solid;
  text-align: center;
  vertical-align: middle;
  padding-left: 1px;
  background-color: #a0a0a0;
}

.gridTitle {
  float: left;
  height:50px;
  width: 75px;
  border: 1px white solid;
  text-align: center;
  vertical-align: middle;
  padding-left: 1px;
  line-height: 50px;
  color: white;
}

#grid {
  background-color: #505050;
  padding: 5px;
  width: 625px;
  height: 390px;
  top: 16%;
  position: absolute;
  border-radius: 10px;
}
.course {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #990000;
  height: 75px;
  width: 75px;
  border: 1px white solid;
  border-radius: 10px;
  text-align: center;
  color: #FFCC00;
  float: left;
}
.ge {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #FFCC00;
  height: 75px;
  width: 75px;
  border: 1px white solid;
  border-radius: 10px;
  text-align: center;
  color: #990000;
  float: left;
  line-height: 75px;
}
.elective {
  font-size: 16px;
  font-family: sans-serif;
  background-color: black;
  height: 75px;
  width: 75px;
  border: 1px white solid;
  border-radius: 10px;
  text-align: center;
  color: #FFCC00;
  float: left;
}
#form {
  height: auto;
  width: 40%;
  border: 1px black solid;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: white;
  opacity: 0.85;
  padding: 10px;
}

#dropzone {
  height: 150px;
  width: 500px;
  position: absolute;
  top: 470px;
  left: 700px;

}

#trash {
    height : 194px;
    width : 134px;
    position: absolute;
    top : 540px;
    left : 30%;
    background : url("./assets/trash-can.png") no-repeat;
    background-size : cover;
}

#header {
  border: 1px black solid;
  width: 620px;
  height: 20px;
  top: 10%;
  padding: 5px;
  position: absolute;
  background-color: white;
  opacity: 0.85;
}

.yearTitle {
  float: left;
  width: 100px;
  padding-left: 55px;
}


#greeting {
white-space: pre-wrap;
}

#message {
  bottom: 0px;
  left: 5px;
  position: absolute;
  width: 30%;
  background-color: white;
  opacity: .85;
  border-radius: 10px;
  padding: 5px;
}

#github {
  bottom: 0%;
  right: 5px;
  position: absolute;
  height: 30px;
  width: auto;
  background-color: white;
  opacity: 0;
  border-radius: 10px;
  padding: 5px;
  transition: all 200ms ease-in-out;
}
#github:hover {
  opacity: 0.85;
  transition: all 200ms ease-in-out;
}
/*http://bavotasan.com/2011/style-select-box-using-only-css/*/
.styled-select select {
   background: transparent;
   width: 100%;
   padding: 5px;
   font-size: 14px;
   line-height: 2;
   border: 0;
   border-radius: 5px;
   height: 38px;
   -webkit-appearance: none;
   }

.styled-select {
   width: 90%;
   height: 38px;
   overflow: hidden;
   background: url("./assets/dropdown.png") no-repeat right #ddd;
   border: 1px solid #ccc;
   border-radius: 5px;

   }
/*http://www.graemeboy.com/css-buttons*/
.styled-button {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color:#333;
	background-color:#FA2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-family:'Helvetica Neu',sans-serif;
	font-size:16px;
	font-weight:500;
	height:32px;
	padding:4px 16px;
	text-shadow:#FE6 0 1px 0;

}
.styled-button:hover{
  background-color: #990000;
  color: #FFCC00;
}
input {
  font-size: 24px;
  padding: 10px;
 border: solid 1px #dcdcdc;
 transition: box-shadow 0.3s, border 0.3s;
 width: 90%;
}
